.main-chat{
  margin-top: 25px;
}

.chat-box{
  border: 5px solid black;
    height: 400px;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(199, 255, 255);
}

.user-box{
  border: 5px solid black;
  height: 400px;
  width: 300px;
  margin-top: -410px;
  margin-left: 20px;
  background-color: rgb(199, 255, 255);
}

.chat-input{
  border: 5px solid black;
  width: 593px;
  height: 50px;
  margin-left: 355px;
  margin-right: auto;
  margin-top: 7px;
  background-color: rgb(199, 255, 255);
}


.send-button{
  border: 5px solid black;
  height: 54px;
  background-color: rgb(103, 219, 130);
}

.chat-title{
  border: 1px solid rgb(245, 237, 237);
  background-color: white;
}

.user-title{
  border: 1px solid rgb(255, 252, 252);
  background-color: white;
}


